<div id="wrapper-home">
    <top-menu></top-menu>
    <div id="shopping-list-wrapper">
        <div id="list-top">
            <h1>Shopping List</h1>
        </div>
        <div id="list-middle">
            <ul>
                <li ng-repeat="item in shoppingListArray track by $index">{{item.ingredient}}: {{item.quantity}}<button class="orange-button" ng-click="deleteItem($index, item)">Delete</button></li>
            </ul>
        </div>
        <div id="list-bottom">
            <div class="list-add-section">
                <input type="text" placeholder="Item name" ng-model="newItem">
                <input id="quantity" type="text" placeholder="Quantity" ng-model="newQuantity">
                <button class="orange-button" ng-click="addItemToList()">Add</button>
            </div>
        </div>
    </div>
</div>