html, body {
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0;
  font-family: "Arial", Times, serif;
}

body a {
  color: white;
  text-decoration: none;
}
body a:hover {
  font-weight: bold;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  outline-color: #ffb700;
}

button {
  cursor: pointer;
}

.orange-button {
  height: 2.5em;
  background-color: #ffb700;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  outline: none;
}

.orange-button:hover {
  background-color: #ff9d00;
}

[contenteditable=true]:focus {
  background-color: #ffffff;
  outline: 1px solid #ffb700;
}

.white {
  color: #ffffff;
}

#wrapper {
  background-image: url("../pictures/asparagus.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  width: 30%;
  height: 30%;
  min-width: 300px;
  min-height: 230px;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#login .topper {
  display: flex;
  color: #ffffff;
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#login input {
  border-radius: 5px;
  background-color: white;
  border: none;
  line-height: 2em;
  width: 100%;
}
#login button {
  width: 100%;
  height: 2.5em;
  margin: 5px 0px;
  background-color: #1d1d1d;
  border: none;
  border-radius: 5px;
  color: white;
}
#login button:hover {
  background-color: #ff9d00;
}
#login .bottom-form {
  text-align: center;
}
#login table {
  width: 100%;
}
#login form {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}

.hundred {
  width: 100%;
  height: 100%;
}

.modal-bg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.registration-content {
  position: relative;
  background-color: #ffffff;
  margin: 15% auto;
  width: 40%;
  color: #1d1d1d;
  animation-name: reg-animation;
  animation-duration: 0.4s;
}
.registration-content table {
  width: 100%;
  padding: 20px;
}
.registration-content table input {
  width: 100%;
}
.registration-content .bottom-form {
  background-color: #1d1d1d;
  min-height: 40px;
  padding: 5px 20px;
}
.registration-content .bottom-form button {
  height: 30px;
  margin: 5px 0px;
  background-color: #ffb700;
  border: none;
  color: #ffffff;
  padding: 5px;
  width: 100px;
}
.registration-content .bottom-form #regCancel {
  float: left;
}
.registration-content .bottom-form #regSubmit {
  float: right;
}
.registration-content .bottom-form button:hover {
  background-color: #ff9d00;
}

@keyframes reg-animation {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#reg-top {
  display: table;
  color: #ffffff;
  width: 100%;
  height: 40px;
  background-color: #1d1d1d;
  text-align: center;
}
#reg-top b {
  display: table-cell;
  vertical-align: middle;
}

.green {
  background-color: #84ff6d;
}

.red {
  background-color: #ff4d4d;
}

#top-menu {
  width: 100%;
  height: 60px;
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  float: right;
  overflow: visible;
}
#top-menu #inline-menu {
  float: left;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top-menu #inline-menu li {
  float: left;
}
#top-menu #inline-menu a {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  text-align: center;
  padding: 0 20px;
}
#top-menu #inline-menu a.non-click:hover {
  background-color: #1d1d1d;
}
#top-menu #inline-menu a:hover {
  background-color: #ffb700;
  font-weight: normal;
}
#top-menu #inline-menu .active {
  background-color: #ffb700;
}
#top-menu #search-field {
  vertical-align: middle;
  box-sizing: border-box;
  min-height: 30px;
  width: 300px;
  border: 1px solid #ffb700;
}
#top-menu #search-button {
  vertical-align: middle;
  min-height: 30px;
  border: none;
  color: #ffffff;
  background-color: #ffb700;
  cursor: pointer;
}
#top-menu #search-button:hover {
  background-color: #ff9d00;
}

#wrapper-home {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#side-menu {
  width: 60px;
  height: 60px;
  background-color: #1d1d1d;
  display: inline-block;
  float: right;
  cursor: pointer;
}

#side-menu:hover {
  background-color: #ffb700 !important;
}

.drop-down {
  display: none;
  background-color: #ffb700;
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 0px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.drop-down a {
  padding: 14px 14px;
  width: 100%;
}
.drop-down a:hover {
  font-weight: normal;
}

.drop-item {
  display: flex;
  padding: 0;
  margin: 0px;
}

.drop-item:hover {
  background-color: #ff9d00;
}

#drop-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px 15px;
  background-image: url("../pictures/hamburger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#add-rec-button {
  width: 30px;
  height: 30px;
  margin: 15px 15px;
  display: inline-block;
  float: right;
  background-color: #1d1d1d;
  background-image: url("../pictures/plus.png");
  border: none;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  cursor: pointer;
}

#add-rec-button:hover {
  background-color: #1d1d1d;
  background-image: url("../pictures/plushover.png");
}

#recipe-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.recipe-content {
  position: relative;
  background-color: #ffffff;
  margin: 10% auto;
  width: 40%;
  color: #1d1d1d;
  animation-name: reg-animation;
  animation-duration: 0.4s;
}
.recipe-content table {
  width: 100%;
  padding: 20px;
}
.recipe-content table input {
  width: 100%;
}
.recipe-content table .time-content {
  width: 100%;
}
.recipe-content table .time-content .time {
  width: 50%;
  display: inline-flex;
  justify-content: center;
}
.recipe-content table .time-content .time b {
  width: 60%;
}
.recipe-content table .time-content .time input {
  width: 40%;
}
.recipe-content table td:nth-child(1) {
  width: 25%;
}
.recipe-content table td:nth-child(2) {
  width: 75%;
}
.recipe-content table tr:nth-child(3) td:nth-child(1) {
  vertical-align: top;
}
.recipe-content #recipeText {
  height: 200px;
  overflow: auto;
  width: 100%;
  resize: none;
}

.bottom-form {
  min-height: 40px;
  padding: 5px 20px;
}
.bottom-form button {
  height: 30px;
  margin: 5px 0px;
  background-color: #ffb700;
  border: none;
  color: #ffffff;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
.bottom-form #regCancel {
  float: left;
}
.bottom-form #regSubmit {
  float: right;
}
.bottom-form button:hover {
  background-color: #ff9d00;
}

.dark-bottom {
  background-color: #1d1d1d;
}

#random-body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

#ingredients-form {
  background-color: #ffffff;
  height: 80%;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  width: 40%;
  top: 10%;
  left: 30%;
}

#ingredients-top {
  height: 40px;
  width: 100%;
  background-color: #1d1d1d;
  color: #ffffff;
}

#ingredient-content {
  height: calc(100% - 80px);
  width: 100%;
  padding: 0px;
  margin: 0;
  color: black;
}

#ingredient-adder {
  display: inline-block;
  background-color: blueviolet;
  height: 8%;
  width: 100%;
}
#ingredient-adder input {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: #ffffd6;
  margin: 0;
  padding: 0;
  text-align: center;
  border: #ffb700 solid 2px;
  outline: none;
  font-weight: bold;
}

#ingredients-list {
  display: inline-block;
  background-color: #ffffff;
  height: calc(92% - 40px);
  width: calc(100% - 40px);
  list-style: none;
  padding: 20px;
  margin: 0;
  overflow-y: scroll;
}
#ingredients-list li {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 10px;
  cursor: default;
}
#ingredients-list li button {
  margin-left: auto;
  cursor: pointer;
}
#ingredients-list li:not(:last-child) {
  border-bottom: 1px solid black;
}

#ingredients-list::-webkit-scrollbar {
  display: none;
}

#add-new-ingredient {
  position: absolute;
  bottom: 60px;
  right: 30px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../pictures/plus.png");
  background-size: 100%;
  outline: none;
  cursor: pointer;
}

#add-new-ingredient:hover {
  background-image: url("../pictures/plushover.png");
}

.add-ingredients {
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url("../pictures/plus.png");
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-ingredients:hover {
  background-image: url("../pictures/plushover.png");
}

#notifications-wrapper {
  display: block;
  float: right;
  position: relative;
}

#notifications-button {
  display: flex;
  width: 90px;
  height: 60px;
  float: right;
  cursor: pointer;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.notification-warning {
  color: #ffb700;
  text-shadow: #ffb700 0px 0px 10px;
}

#notifications-button:hover {
  color: #ffb700;
}

#notifications-drop-down {
  float: left;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  width: 290px;
  height: 200px;
  position: absolute;
  top: 60px;
  left: -100px;
  background-color: #ffffff;
  box-shadow: -5px 5px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  overflow-y: scroll;
}
#notifications-drop-down li {
  color: #1d1d1d;
  font-weight: bold;
  display: flex;
  min-height: 40px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  cursor: pointer;
  justify-content: center;
}
#notifications-drop-down li:not(:last-child) {
  border-bottom: 1px solid #1d1d1d;
}
#notifications-drop-down li:hover {
  color: #ffb700;
  font-weight: bold;
}

.notification-popup {
  height: calc(60% - 40px);
  width: calc(40% - 80px);
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 20%;
  left: 30%;
  box-shadow: 8px 5px 8px 4px rgba(2, 2, 2, 0.4);
}
.notification-popup #notification-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #1d1d1d;
  font-weight: bold;
}
.notification-popup #notification-middle {
  color: black;
  font-weight: bold;
  padding: 20px;
  height: calc(80% - 40px);
  background-color: #ffffff;
}
.notification-popup #notification-bottom {
  display: flex;
  height: 10%;
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
}
.notification-popup #notification-bottom button {
  height: 80%;
}

#page-body {
  display: block;
  width: 100%;
  height: calc(100% - 90px);
  background-image: url("../pictures/yellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

#recipe-content {
  display: block;
  width: calc(100% - 160px);
  height: calc(100% - 130px);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  padding: 50px;
}

#recipe-filters {
  position: relative;
  display: inline-block;
  color: black;
  padding: 20px;
  width: calc(30% - 40px);
  height: calc(100% - 40px);
  float: left;
}
#recipe-filters #filter-search-button {
  float: right;
}

#recipe-list {
  float: right;
  position: relative;
  display: inline-block;
  list-style: none;
  color: black;
  padding: 0;
  width: 60%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  margin: 0;
}
#recipe-list li {
  display: flex;
  min-height: 40px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  cursor: pointer;
}
#recipe-list li:not(:last-child) {
  border-bottom: 1px solid black;
}
#recipe-list li:hover {
  color: #ffb700;
  font-weight: bold;
}

#recipe-list::-webkit-scrollbar {
  display: none;
}

#recipe-filters h1 {
  text-align: center;
}
#recipe-filters input {
  border: 1px solid #ffb700;
  outline-color: #ffb700;
  width: 180px;
}
#recipe-filters #recipe-filter {
  display: inline-block;
  background-color: #ffb700;
  width: 100px;
  text-align: center;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
}
#recipe-filters #recipe-filter:hover {
  background-color: #ff9d00;
}
#recipe-filters #recipe-filter-wrapper:hover #filter-content {
  display: block;
}
#recipe-filters #filter-content {
  display: none;
  list-style-type: none;
  background-color: #ffb700;
  color: #ffffff;
  width: 100px;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 1;
  border-radius: 0;
  cursor: default;
}
#recipe-filters #filter-content .filter-option {
  text-align: center;
}
#recipe-filters #filter-content .filter-option:hover {
  background-color: #ff9d00;
}
#recipe-filters #recipe-filter-wrapper {
  display: inline-block;
}

#search-result {
  background-color: #1d1d1d;
  height: calc(90% - 40px);
  width: calc(40% - 80px);
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 10%;
  left: 30%;
  border-radius: 25px;
}
#search-result ul {
  height: calc(80% - 20px);
  width: calc(100% - 80px);
  margin: 10px 40px;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}
#search-result ul li {
  display: flex;
  min-height: 40px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  cursor: pointer;
}
#search-result ul li:not(:last-child) {
  border-bottom: 1px solid white;
}
#search-result ul li:hover {
  color: #ffb700;
  font-weight: bold;
}
#search-result ul::-webkit-scrollbar {
  display: none;
}
#search-result #search-result-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffb700;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#search-result #search-result-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#recipe-div {
  color: #000000;
  display: flex;
  width: 100%;
  min-height: calc(100% - 120px);
  background-image: url("../pictures/yellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  background-attachment: fixed;
}

#recipe-wrap {
  display: flex;
  width: calc(100% - 160px);
  min-height: calc(100% - 130px);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  padding: 50px;
}
#recipe-wrap #recipe-text-area {
  width: 100%;
  height: calc(100% - 60px);
}
#recipe-wrap #recipe-text-area h1 {
  color: #1d1d1d;
  text-align: center;
}
#recipe-wrap .recipe-top {
  display: inline-block;
  background-color: #1d1d1d;
  color: #ffb700;
  border-radius: 25px;
  padding: 10px;
}
#recipe-wrap .white-ingredient {
  color: #ffffff;
  cursor: pointer;
}
#recipe-wrap .white-ingredient:hover {
  color: #ff9d00;
}
#recipe-wrap #recipe-text {
  color: #1d1d1d;
  font-weight: bold;
  white-space: pre-wrap;
  font-family: "Arial", Times, serif;
}
#recipe-wrap #modifyIngredients {
  display: none;
  height: 15px;
  width: 15px;
}

#quantity-input {
  display: flex;
  height: 20px;
  width: 200px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  box-shadow: 8px 5px 8px 4px rgba(2, 2, 2, 0.4);
  background-color: #1d1d1d;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
#quantity-input input {
  padding: 0;
  margin: 0 5px;
  height: 100%;
  width: 70%;
  border: 1px solid #ffb700;
}
#quantity-input button {
  height: 100%;
  width: 25%;
}

#recipe-share-status {
  display: none;
  color: #ffe300;
}

#friends-wrapper {
  display: flex;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
}

#friends-list {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 40px;
  height: calc(100% - 80px);
  width: calc(20% - 80px);
  box-shadow: 5px 0px 8px 4px rgba(2, 2, 2, 0.4);
  list-style: none;
  z-index: 1;
  overflow-y: scroll;
  background-color: #1d1d1d;
}
#friends-list li {
  display: flex;
  min-height: 40px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  cursor: pointer;
}
#friends-list li:not(:last-child) {
  border-bottom: 1px solid white;
}
#friends-list li:hover {
  color: #ffb700;
  font-weight: bold;
}

/*#friends-list::-webkit-scrollbar {
  width: 10px;
}*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #878787;
}

::-webkit-scrollbar-thumb {
  background: #ffb700;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9d00;
}

#friends-search {
  display: inline-block;
  width: 80%;
  height: 100%;
  vertical-align: top;
}

#add-friend-form {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url(../pictures/plus.png);
  background-size: 100%;
  border: none;
  outline: none;
}

#add-friend-form:hover {
  background-image: url(../pictures/plushover.png);
}

#friend-form {
  height: calc(30% - 40px);
  width: calc(40% - 80px);
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 35%;
  left: 30%;
  box-shadow: 8px 5px 8px 4px rgba(2, 2, 2, 0.4);
}

#friend-form-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #1d1d1d;
  font-weight: bold;
}

#friend-form-middle {
  color: black;
  font-weight: bold;
  padding: 20px;
  height: calc(80% - 40px);
}

#friend-form-bottom {
  height: 10%;
  background-color: #1d1d1d;
}

#friend-form-buttons {
  height: 10%;
  width: calc(100% - 40px);
  bottom: 10%;
  position: absolute;
  left: 0;
  padding: 20px;
}
#friend-form-buttons #friend-form-left-button {
  float: left;
}
#friend-form-buttons #friend-form-right-button {
  float: right;
}

#share-recipe-popup {
  display: none;
}

#shopping-list-wrapper {
  display: block;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  color: #ffffff;
  padding-top: 60px;
  background-image: url("../pictures/basket.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#shopping-list-wrapper #list-top {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}
#shopping-list-wrapper #list-middle {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
}
#shopping-list-wrapper #list-bottom {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
}
#shopping-list-wrapper #list-bottom .list-add-section {
  display: flex;
  height: calc(100% - 10px);
  width: calc(30% + 40px);
  margin: 5px 0;
  background: rgba(29, 29, 29, 0.8);
  justify-content: center;
  align-items: center;
}
#shopping-list-wrapper #list-bottom .list-add-section input {
  box-sizing: border-box;
  height: 60%;
  margin: 0 5px;
  padding: 0;
  width: 45%;
  border: 1px solid #ffb700;
}
#shopping-list-wrapper #list-bottom .list-add-section #quantity {
  width: 25%;
}
#shopping-list-wrapper #list-bottom .list-add-section button {
  margin: 0 5px;
  padding: 0;
  width: 20%;
  height: 60%;
}
#shopping-list-wrapper h1 {
  margin: 0;
}
#shopping-list-wrapper ul {
  position: relative;
  display: block;
  list-style: none;
  color: white;
  padding: 20px;
  width: 30%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  margin: 0;
  background: rgba(29, 29, 29, 0.8);
}
#shopping-list-wrapper ul li {
  display: flex;
  min-height: 40px;
  font-size: 20px;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  cursor: pointer;
}
#shopping-list-wrapper ul li button {
  margin-left: auto;
}
#shopping-list-wrapper ul li:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
#shopping-list-wrapper ul li:hover {
  color: #ffb700;
  font-weight: bold;
}
#shopping-list-wrapper ul::-webkit-scrollbar {
  display: none;
}

#profile-body {
  display: block;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  color: #1d1d1d;
  padding-top: 60px;
  background-color: black;
  background-image: url("../pictures/anise.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#profile-body .black-background {
  position: absolute;
  margin-top: 60px;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#profile-body input {
  border: 1px solid #ffb700;
}
#profile-body .top {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#profile-body .middle {
  display: flex;
  height: calc(80% - 40px);
  padding: 20px;
  font-weight: bold;
  justify-content: center;
}
#profile-body .middle .content {
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
#profile-body .middle table {
  width: 100%;
  /*height: calc(100% - 40px);
  width: calc(70% - 40px);
  display: inline-block;
  margin: 20px;*/
}
#profile-body .middle table input {
  width: 100%;
}
#profile-body .middle .bg {
  height: calc(100% - 44px);
  width: calc(70% - 44px);
  display: inline-block;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #1d1d1d;
  border-right: 0px;
}
#profile-body .middle .decoration {
  vertical-align: top;
  display: inline-block;
  height: calc(100% - 40px);
  width: calc(30% - 40px);
  padding: 20px;
  background-color: #1d1d1d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /*border: 2px solid white;
  border-left: 0;*/
}
#profile-body .middle .decoration .t {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffb700;
  height: 80%;
}
#profile-body .middle .decoration .t h1 {
  margin: 0;
}
#profile-body .middle .decoration .b {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*# sourceMappingURL=style.css.map */
