<div id="top-menu">
        <ul>
            <li><a href="" class="non-click"><img src="favicon.ico"></a></li>
            <li><a href="#!home">Home</a></li>
            <li><a href="#!recipes">Recipes</a></li>
            <li><a href="#!random">Random</a></li>
            <li><a class="non-click"><input id="search-field" placeholder="Enter a recipe name"><button id="search-button"><b>Search</b></button></a></li>
        </ul>
        <div id="side-menu" ng-click="openDropDown()">
            <div id="drop-button"></div>
            <div class="drop-down">
                <div class="drop-item">Profile</div>
                <div class="drop-item">Recipes</div>
                <div class="drop-item">Friends</div>
                <div class="drop-item">Smart Assistant</div>
                <div class="drop-item">Shopping List</div>
                <div class="drop-item" ng-click="logOut()">Log Out</div>
            </div>
        </div>
        <button id="add-rec-button" ng-click="recipeForm()"></button>
    </div>
