<div id="top-menu">
        <ul id="inline-menu">
            <li><a href="" class="non-click"><img src="favicon.ico"></a></li>
            <li><a href="#!home">Home</a></li>
            <li><a href="#!recipes">Recipes</a></li>
            <li><a href="#!random">Random</a></li>
            <li><a class="non-click"><input id="search-field" placeholder="Enter a recipe name"><button id="search-button"><b>Search</b></button></a></li>
        </ul>
        <div id="side-menu" ng-click="openDropDown()">
            <div id="drop-button"></div>
            <div class="drop-down">
                <div class="drop-item"><a href="">Profile</a></div>
                <div class="drop-item"><a href="#!recipes">Recipes</a></div>
                <div class="drop-item"><a href="#!friends">Friends</a></div>
                <div class="drop-item"><a href="">Smart Assistant</a></div>
                <div class="drop-item"><a href="#!list">Shopping List</a></div>
                <div class="drop-item" ng-click="logOut()"><a>Log Out</a></div>
            </div>
        </div>
        <button id="add-rec-button" ng-click="recipeForm()"></button>
        <div id="notifications-wrapper">
            <div id="notifications-button" ng-click="notificationMenu()"><b>Notifications</b></div>
            <ul id="notifications-drop-down">
                <li ng-repeat="notification in notificationsArr" ng-click="notificationClick(notification)">{{notification.category}}</li>
            </ul>
        </div>

    </div>