<div id="wrapper-home">
    <top-menu></top-menu>
    <div id="profile-body"><div class="black-background">
        <div class="top">
            <h1>Profile</h1>
        </div>
        <div class="middle">
            <div class="content">
                <div class="bg">
                    <table>
                        <tbody>
                        <tr>
                            <td>Nickname: </td>
                            <td><input type="text" ng-model="newNickname"></td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td><input type="text" disabled ng-model="profileEmail"></td>
                        </tr>
                        <tr>
                            <td>Change password: </td>
                            <td><input type="text" placeholder="New password" ng-model="newPassword"></td>
                        </tr>
                        <tr>
                            <td>Confirm password: </td>
                            <td><input type="text" placeholder="Confirm password" ng-model="newConfirmPassword"></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!--
             --><div class="decoration">
                    <div class="t">
                        <h1>Profile</h1>
                    </div>
                    <div class="b">
                        <button class="orange-button" ng-click="updatePassword()">Update</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>