<div id="wrapper-home">
    <top-menu></top-menu>
    <div id="page-body">
        <div id="recipe-content">
            <div id="recipe-filters">
                Search by name: <input type="text" name="" ng-model=""><br>
                Search by recipe: <input type="text" name="" ng-model=""><br><br>
                <button>Search</button>
            </div>
            <ul id="recipe-list">
                <li>Cokoladova omacka</li>
                <li>Kuracie kridla na smotane</li>
                <li>Mrkvovy spenat</li>
                <li>Tavie koleno s kelom</li>
                <li>Tarhona a 3 druhy ryby</li>
                <li>Zemiakova kasa s konskou hlavou</li>
                <li>Kapri chvost na spize</li>
                <li>Mravencie hlavohrude s knedlikom</li>
                <li>Duseny petrzlen s tavim hrbom</li>
                <li>Vyprazane puncove rezy</li>
                <li>Kuracie stehna v metovej omacke</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
                <li>tri</li>
            </ul>
        </div>
    </div>
</div>