$menu-color: #1d1d1d;
$main-color: #ffb700;
$main-color-hover: #ff9d00;

#top-menu {
  width: 100%;
  height: 60px;
  background-color: $menu-color;
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;

  ul {
    float: left;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
    }
    a {
      display:table-cell;
      vertical-align: middle;
      height: 60px;
      text-align: center;
      padding: 0 20px;
    }
    a.non-click:hover {
      background-color: $menu-color;
    }
    a:hover {
      background-color: $main-color;
      font-weight: normal;
    }
    .active {
      background-color: #ffb700;
    }
  }

  #search-field {
    min-height: 26px;
    width: 300px;
    border: 1px solid $main-color;
    outline-color: $main-color;
  }
  #search-button {
    min-height: 30px;
    border: none;
    color: #ffffff;
    background-color: $main-color;
  }
  #search-button:hover {
    background-color: $main-color-hover;
  }
}

#wrapper-home {
  background-color: #ffffff;
  /*background-image: url('../pictures/asparagus.jpg');*/
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#side-menu {
  width: 60px;
  height: 60px;
  background-color: $menu-color;
  display: inline-block;
  float: right;
}

#side-menu:hover {
  background-color: $main-color;
}

/*#side-menu:hover .drop-down{
  display: block;
}*/

.drop-down {
  display: none;
  background-color: $main-color;
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 0px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.drop-item {
  padding: 14px 14px;
  margin: 0px;
}

.drop-item:hover {
  background-color: $main-color-hover;
}

#drop-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px 15px;
  background-image: url('../pictures/hamburger.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#add-rec-button {
  width: 30px;
  height: 30px;
  margin: 15px 15px;
  display: inline-block;
  float: right;
  background-color: $menu-color;
  background-image: url('../pictures/plus.png');
  border: none;
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#add-rec-button:hover {
  background-color: $menu-color;
  background-image: url('../pictures/plushover.png');
}

#recipe-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.recipe-content {
  //height: 300px;
  position: relative;
  background-color: #ffffff;
  margin: 10% auto;
  width: 40%;
  color: $menu-color;
  animation-name: reg-animation;
  animation-duration: 0.4s;

  .bottom {
    background-color: $menu-color;
    min-height: 40px;
    padding: 5px 20px;

    button {
      height: 30px;
      margin: 5px 0px;
      background-color: $main-color;
      border: none;
      color: #ffffff;
      padding: 5px;
      width: 100px;
    }

    #regCancel {
      float: left;
    }

    #regSubmit {
      float: right;
    }

    button:hover {
      background-color: $main-color-hover;
    }
  }

  table {
    width: 100%;
    padding: 20px;

    input {
      width: 100%;
    }
  }

  table td:nth-child(1) {
    width: 30%;
  }

  table td:nth-child(2) {
    width: 70%;
  }

  table tr:nth-child(3) td:nth-child(1){
    vertical-align: top;
  }

  #recipeText {
    height: 200px;
    overflow: auto;
    width: 100%;
    resize: none;
  }
}

#random-body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

#ingredients-form {
  background-color: #ffffff;
  height: 80%;
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  width: 40%;
  top: 10%;
  left: 30%;
}

.add-ingredients {
  height: 20px;
  width: 20px;
  background-color: transparent;
  background-image: url('../pictures/plus.png');
  background-size: 100%;
  border: none;
}

.add-ingredients:hover {
  background-image: url('../pictures/plushover.png');
}