@import "colors";

#shopping-list-wrapper {
  display: block;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  color: #ffffff;
  padding-top: 60px;
  background-image: url('../../gradle/src/main/resources/static/pictures/basket.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  #list-top {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
  }

  #list-middle {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
  }

  #list-bottom {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;

    .list-add-section {
      display: flex;
      height: calc(100% - 10px);
      width: calc(30% + 40px);
      margin: 5px 0;
      background: rgba(29, 29, 29, 0.8);
      justify-content: center;
      align-items: center;

      input {
        box-sizing: border-box;
        height: 60%;
        margin: 0 5px;
        padding: 0;
        width: 45%;
        border: 1px solid $main-color;
      }

      #quantity {
        width: 25%;
      }

      button {
        margin: 0 5px;
        padding: 0;
        width: 20%;
        height: 60%;
      }
    }
  }

  h1 {
    margin: 0;
  }

  ul {
    position: relative;
    display: block;
    list-style: none;
    color: white;
    padding: 20px;
    width: 30%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    margin: 0;
    background: rgba(29, 29, 29, 0.8);

    li {
      display: flex;
      min-height: 40px;
      font-size: 20px;
      align-items: center;
      margin: auto;
      padding: 0 10px;
      cursor: pointer;

      button {
        margin-left: auto;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }

    li:hover {
      color: $main-color;
      font-weight: bold;
    }
  }

  ul::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #shopping-list-wrapper {

    ul {
      width: calc(90% - 40px);
    }

    #list-bottom {

      .list-add-section {
        width: 90%;
      }
    }
  }
}