@import "colors";

#page-body {
  display: block;
  width: 100%;
  height: calc(100% - 90px);
  background-image: url('../pictures/yellow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}


#recipe-content {
  display: block;
  width: calc(100% - 160px);
  height: calc(100% - 130px);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
  padding: 50px;
}

#recipe-filters {
  position: relative;
  display: inline-block;
  color: black;
  padding: 20px;
  width: calc(30% - 40px);
  height: calc(100% - 40px);
  float: left;

  #filter-search-button {
    float: right;
  }
}

#recipe-list {
  float: right;
  position: relative;
  display: inline-block;
  list-style: none;
  color: black;
  padding: 0;
  width: 60%;
  height: calc(100% - 40px);
  overflow-y: scroll;
  margin: 0;

  li {
    display: flex;
    min-height: 40px;
    font-size: 20px;
    align-items: center;
    margin: auto;
    padding: 0 10px;
    cursor: pointer;
  }

  li:not(:last-child) {
    border-bottom: 1px solid black;
  }

  li:hover {
    color: $main-color;
    font-weight: bold;
  }
}

#recipe-list::-webkit-scrollbar {
  display: none;
}

#recipe-filters {
  h1 {
    text-align: center;
  }

  input {
    border: 1px solid $main-color;
    outline-color: $main-color;
    width: 180px;
  }

  #recipe-filter {
    display: inline-block;
    background-color: $main-color;
    width: 100px;
    text-align: center;
    border: none;
    color: white;
    font-weight: bold;
    outline: none;
  }

  #recipe-filter:hover {
    background-color: $main-color-hover;
  }

  #recipe-filter-wrapper:hover #filter-content {
    display: block;
  }

  #filter-content {
    display: none;
    list-style-type: none;
    background-color: $main-color;
    color: #ffffff;
    width: 100px;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    border-radius: 0;
    cursor: default;

    .filter-option {
      text-align: center;
    }

    .filter-option:hover {
      background-color: $main-color-hover;
    }
  }

  #recipe-filter-wrapper {
    display: inline-block;
  }
}

#search-result {
  background-color: $menu-color;
  height: calc(90% - 40px);
  width: calc(40% - 80px);
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 10%;
  left: 30%;
  border-radius: 25px;

  ul {
    height: calc(80% - 20px);
    width: calc(100% - 80px);
    margin: 10px 40px;
    padding: 0;
    list-style: none;
    overflow-y: scroll;

    li {
      display: flex;
      min-height: 40px;
      font-size: 20px;
      align-items: center;
      margin: auto;
      padding: 0 10px;
      cursor: pointer;
    }

    li:not(:last-child) {
      border-bottom: 1px solid white;
    }

    li:hover {
      color: $main-color;
      font-weight: bold;
    }
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  #search-result-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $main-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  #search-result-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}